@charset "utf-8";
#cmpForm {
	width: 400px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	background-color: #FFF;
	border: medium double #093;
	margin-right: auto;
	margin-left: auto;
}
#cmpForm  fieldset {
	padding: 1em;
	font:80%/1 sans-serif;
	border:1px solid green;
	margin-bottom: 4px;
  }
#cmpForm #form1 fieldset #conjoint {
	display: none;
}

#cmpForm  legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:right;
  }
#cmpForm label {

  width:10%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold;
  }
