body {
	background-color: #FFFFFF;
}
.menu_haut, .menu_haut:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 26px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.menu_haut:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 26px;
	font-weight: normal;
	color: #FC0019;
	text-decoration: none;
}
.menu_bas, .menu_bas:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
.menu_bas:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	color: #FF0019;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
.contenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	list-style-type: disc;
}
.contenu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.contenu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: normal;
	color: #FF0019;
	text-decoration: none;
	font-weight: normal;
}
.contenu_rouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FF0019;
	text-decoration: none;
}
.contenu_vert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #33A02C;
	text-decoration: none;
	list-style-type: circle;
}
.contenu_bleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #287DDA;
	text-decoration: none;
	list-style-type: circle;
}
.contenu_blanc {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.titre_ {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.titre_bleu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #287DC7;
	text-decoration: none;
}
.titre_vert {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #33A02C;
	text-decoration: none;
}
.titre_orange {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #EABF40;
	text-decoration: none;
}
.titre_default {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
.titre_rouge {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bolder;
	color: #FC0019;
	text-decoration: none;
}
.sous_titre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #FF0019;
	text-decoration: none;
	text-align: left;
}
.chapeau, .chapeau:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.chapeau:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FF0019;
	text-decoration: none;
}
.accroche {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	margin-left: 20px;
}
.mentions, .mentions:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #000000;
	border: 0px;
	text-align: center;
}
.mentions:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none;
	color: #FF0019;
	border: 0px;
	text-align: center;
}
.chemin, .chemin:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #00005A;
	text-decoration: none;
}
.chemin:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.liste_bleu, .liste_bleu:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	color: #287DC7;
	text-decoration: none;
	font-weight: normal;
	list-style-image: url(../pictures/puce_bleue.gif);
}
.liste_bleu:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	color: #96C2EB;
	text-decoration: none;
	list-style-image: url(../pictures/puce_bleue_hover.gif);
}
.liste_vert, .liste_vert:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	color: #33A02C;
	text-decoration: none;
	font-weight: normal;
	list-style-image: url(../pictures/puce_verte.gif);
}
.liste_vert:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-style: normal;
	color: #92E08D;
	text-decoration: none;
	list-style-image: url(../pictures/puce_verte_hover.gif);
}
.td_bleu {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #7EB1DD;
}
.td_vert {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #85C680;
}
.td_rouge {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FE8C97;
}
.td_orange {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #F2D98C;
}
.td_default {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FC0019;
}
.menu, menu:visited, menu:hover {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: normal;
	line-height: 10px;
	padding-left: 6px;
}
.tab_bleu_01 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #287DC7;
	text-align:center;
	font-weight: bold;
}
.tab_bleu_02 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #7EB1DD;
	text-align:center;
	font-weight: bold;
}
.tab_bleu_03 {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #BED8EE;
	text-align:center;
}
.tab_bleu_04 {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #DEEBF6;
	text-align:center;
}
.tab_vert_01 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #33A02C;
	text-align:center;
	font-weight: bold;
}
.tab_vert_02 {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #85C680;
	text-align:center;
	font-weight: bold;
}
.tab_vert_03 {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #C2E2BF;
	text-align:center;
}
.tab_vert_04 {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #E7F3E5;
	text-align:center;
}
.pdf, .pdf:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.pdf:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #F90F0E;
	text-decoration: underline;
}
.plan1, .plan1:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FC0019;
	text-decoration: none;
}
.plan1:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FC0019;
	text-decoration: none;
}
.plan2, .plan2:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
	padding-left: 12px;
	background-image: url(../pictures/puce_plan2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.plan2:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FC0019;
	text-decoration: none;
	line-height: 20px;
	padding-left: 12px;
	background-image: url(../pictures/puce_plan2.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.plan3, .plan3:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #585B61;
	text-decoration: none;
	line-height: 12px;
	padding-left: 18px;
	background-image: url(../pictures/puce_plan3.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.plan3:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FC0019;
	text-decoration: none;
	line-height: 12px;
	padding-left: 18px;
	background-image: url(../pictures/puce_plan3.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.plan4, .plan4:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #ACB0B5;
	text-decoration: none;
	line-height: 12px;
	padding-left: 28px;
	background-image: url(../pictures/puce_plan4.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.plan4:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FC0019;
	text-decoration: none;
	line-height: 12px;
	padding-left: 28px;
	background-image: url(../pictures/puce_plan4.gif);
	background-repeat: no-repeat;
	background-position: left center;
}